/* @media screen {
    p {
        font-size: 25px;
        color: red;
    }
}

@media print {
    img {
        display: none;
    }

    p {
        font-size: 50px;
        color: yellow;
        text-align: justify;
    }

    ;
} */
/* img {
    width: 550px;
    height: 250px;
} */
#div {
    width: 70%;
    background-color: blue;
    float: left;
    /* display: inline-block; */
}

#div1 {
    width: 30%;
    background-color: red;
    float: left;
    /* display: inline-block; */
}

/* @media screen and (max-width:768px) {
    #div {
        width: 50%;
        background-color: maroon;
        /*  float: left; */
/* display: inline-block; 
    }

    #div1 {
        width: 50%;
        background-color: lawngreen;
        /*float: left; 
        /* display: inline-block; 
    }
} */
@media screen and (min-width:414px) {
    #div {
        width: 100%;
        background-color: maroon;
        /*  float: left; */
        /* display: inline-block; */
    }

    #div1 {
        width: 100%;
        background-color: lawngreen;
        /*float: left; */
        /* display: inline-block; */
    }

}