#div {
    /* background-color: yellow; */
    margin: 20px;
    padding: 20px;
    /* height: 100px;
    width: 250px; */
}

a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    /* display: inline-block; */
    /* transform: translate(80px, 30px); */
}

a:hover {
    display: inline-block;
    /* transform: rotate(55deg); */
    /* transform: scale(3, 2); */
    /* transform: skew(20deg, 30deg); */

}